<%= form_for species, url: [:admin, species], html:{class: 'form-horizontal'} do |f| %>

	<% if species.errors.any? %>
		<div class="alert alert-danger">
			<ul>
				<% species.errors.each do |error, message| %>
				<li><%= error.capitalize %> <%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<%= f.label :name,"Nom", class: "col-md-4 control-label"%>
		<div class="col-md-8">
			<%= f.text_field :name, class: "form-control" %>
		</div>
	</div>
	
	<div class="form-group">
		<%= f.label :slug,"URL", class: "col-md-4 control-label"%>
		<div class="col-md-8">
			<%= f.text_field :slug, class: "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-6 col-md-offset-4">
			<button type="submit" class="btn btn-primary">
				<%= species.new_record? ? 'Créer' : 'Modifier'%>
			</button>
		</div>
	</div>

<% end %>