<%= form_for pet, html:{class: 'form-horizontal'} do |f| %>

	<% if pet.errors.any? %>
		<div class="alert alert-danger">
			<ul>
				<% pet.errors.each do |error, message| %>
				<li><%= error.capitalize %> <%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<%= f.label :name,"Nom", class: "col-md-4 control-label"%>
		<div class="col-md-6">
			<%= f.text_field :name, class: "form-control" %>
		</div>
	</div>
	
	<div class="form-group">
		<%= f.label :avatar_file,"Avatar", class: "col-md-4 control-label"%>
		<div class="col-md-6">
			<%= f.file_field :avatar_file, class: "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :gender,"Genre", class: "col-md-4 control-label"%>
		<div class="col-md-6">
			<%= f.select :gender, {Male: :M, Femelle: :F}, {}, class: "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :species_id,"Espèce", class: "col-md-4 control-label"%>
		<div class="col-md-6">
			<%= f.select :species_id, Species.pluck(:name, :id), {}, class: "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :birthday,"Date de naissance", class: "col-md-4 control-label"%>
		<div class="col-md-6">
			<%= f.text_field :birthday, class: "form-control form-datepicker" %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-6 col-md-offset-4">
			<button type="submit" class="btn btn-primary">
				<%= pet.new_record? ? 'Créer' : 'Modifier'%>
			</button>
		</div>
	</div>

<% end %>