<li class="list-group-item">
	<%= link_to pet do %>
	<!-- <a href="<%= pet_path(pet) %>"> -->
		<h4 class="list-group-item-heading">#<%= pet.name %></h4>
		<p class="list-group-item-text"> <%= pet.age.to_s + ' ' + 'an'.pluralize(pet.age)%></p>
	<!-- </a> -->
	<% end %>
</li>	
