<% content_for :tab, :profil %>
<% content_for :content do %>

	<% if @user.errors.any? %>
		<div class="alert alert-danger">
			<ul>
				<% @user.errors.each do |error, message| %>
				<li><%= error.capitalize %> <%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="panel panel-default">
		<div class="panel-heading">Éditer ses informations</div>
		<div class="panel-body">

			<%= form_for @user, url: profil_path ,html:{class: 'form-horizontal'} do |f| %>

				<% if @user.avatar %>
					<%= image_tag @user.avatar_url %>
				<% end %>

				<div class="form-group">
					<%= f.label :avatar_file, "Avatar", class: "col-md-4 control-label"%>
					<div class="col-md-6">
						<%= f.file_field :avatar_file, class: "form-control" %>
					</div>
				</div>

				<div class="form-group">
					<%= f.label :username, "Nom d'utilisateur", class: "col-md-4 control-label"%>
					<div class="col-md-6">
						<%= f.text_field :username, class: "form-control" %>
					</div>
				</div>

				<div class="form-group">
					<%= f.label :email, "Email", class: "col-md-4 control-label"%>
					<div class="col-md-6">
						<%= f.email_field :email, class: "form-control" %>
					</div>
				</div>

				<div class="form-group">
					<%= f.label :firstname, "Prénom", class: "col-md-4 control-label"%>
					<div class="col-md-6">
						<%= f.text_field :firstname, class: "form-control" %>
					</div>
				</div>

				<div class="form-group">
					<%= f.label :lastname, "Nom de famille", class: "col-md-4 control-label"%>
					<div class="col-md-6">
						<%= f.text_field :lastname, class: "form-control" %>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-6 col-md-offset-4">
						<button type="submit" class="btn btn-primary">
							Modifier
						</button>
					</div>
				</div>		

			<% end %>

		</div>
	</div>
<% end %>

<%= render template: 'layouts/profile' %>