
<div class="row">
	<div class="col-md-8">
		<h2>Dernières photos :</h2>
		<div class="row">
			<%= render @posts, klass: 'col-md-4' %>
		</div>
	</div>
	<div class="col-md-4">
	<%= render 'shared/sidebar' %>
	</div>
</div>