<%%= form_for <%= singular_table_name %>, html: {class: 'form-horizontal'} do |f| %>
  <%% if <%= singular_table_name %>.errors.any? %>
    <div class="alert alert-danger">
      <ul>
      <%% <%= singular_table_name %>.errors.full_messages.each do |message| %>
        <li><%%= message %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>

<% attributes.each do |attribute| -%>
  <div class="form-group">
<% if attribute.password_digest? -%>
    <%%= f.label :password, class: 'col-md-4 control-label' %>
    <div class="col-md-8">
      <%%= f.password_field :password, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%%= f.label :password_confirmation, class: 'col-md-4 control-label' %>
    <div class="col-md-8">
      <%%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
<% else -%>
    <%%= f.label :<%= attribute.column_name %>, class: 'col-md-4 control-label' %>
    <div class="col-md-8">
      <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %>, class: 'form-control' %>
    </div>
<% end -%>
  </div>

<% end -%>
  <div class="form-group">
    <div class="col-md-offset-4 col-md-6">
      <button type="submit" class="btn btn-primary">
        <%%= <%= singular_table_name %>.new_record? ? 'Créer' : 'Modifier' %>
      </button>
    </div>
  </div>
<%% end %>
