<% content_for :content do %>
  <div class="panel panel-default">
    <div class="panel-heading">Modifier <% @post.name %></div>
    <div class="panel-body">
      <%= render 'form', post: @post %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/profile' %>