<% content_for :tab, :posts %>
<% content_for :content do %>

  <h1>Animaux followed :</h1>

  <p class="text-right">
    <a href="<%= new_post_path %>" class="btn btn-primary">Ajouter un Post</a>
  </p>

  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-6">
        <%= render post %>
      </div>
    <% end %>
  </div>

<% end %>

<%= render template: 'layouts/profile' %>