<!DOCTYPE html>
<html>
	<head>
		<title>Petsy</title>
		<%= csrf_meta_tags %>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

		<!-- flatpickr -->
	</head>

	<body>
		<div class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<a href="<%= root_path %>" class="navbar-brand">Petsy</a>
				</div>
	
				<% if user_signed_in? && isAdmin? %>
				<ul class="nav navbar-nav">
					<li>
						<%= link_to 'Gestion des espèces', [:admin, Species] %>
					</li>
				</ul>
				<% end %>
				<ul class="nav navbar-nav navbar-right">
					<% if user_signed_in? %>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								<%= current_user.username %>
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li><%= link_to 'Mon profil', profil_path %></li>
								<li><%= link_to 'Se déconnecter', destroy_session_path, data: {method: :delete} %></li>

							</ul>
						</li>
					<% else %>
						<li><a href="<%= new_user_path %>">S'inscrire</a></li>
						<li><a href="<%= new_session_path %>">Se connecter</a></li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="container">
			<% if flash[:success] %>
				<div class="alert alert-success">
					<%= flash[:success] %>
				</div>
			<% end %>

			<% if flash[:danger] %>
				<div class="alert alert-danger">
					<%= flash[:danger] %>
				</div>
			<% end %>
		</div>
		<div class="container">
			<%= yield %>
		</div>

		<!-- Latest compiled and minified JavaScript -->
		<%= javascript_include_tag 'application', 'data-turbolinks-eval': 'false', 'data-turbolinks-track': 'reload' %>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	</body>
</html>
